<ion-app>
  <ion-split-pane contentId="main-content">
    <!--The global side menu-->
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="onOpenMenu($event)" (ionDidClose)="onCloseMenu()">

      <ion-item>
        autorange
        <ion-checkbox [checked]="checkAutorange" (ionChange)="onChangeCkeks($event)">
        </ion-checkbox>
      </ion-item>


      <ion-footer>
        <ion-toolbar class="textCenter">


        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!--<ion-button fill="outline"  (click)="sendInfo()" size="large">Enviar Info Jonathan</ion-button> -->
    <!--All the App content-->
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>