<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu #menu contentId="main-content" type="overlay" (ionWillOpen)="onOpenMenu()" (ionDidClose)="onCloseMenu()">
      <ion-header>
        <ion-toolbar>
          <p style="text-align:center;">Configuración</p>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item>
          autorange
          <ion-checkbox slot="end" [checked]="checkAutorange" (ionChange)="onChangeCkeks($event)">
          </ion-checkbox>
        </ion-item>
      </ion-content>




      <ion-footer>
        <ion-toolbar>
          <p style="text-align:center;">Versión: {{version}}</p>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>