ion-segment-button {
  min-width: 75px;
  flex: 1
}

.digitalMeter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: larger;
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 5px 0 0 0
  ;
  width: 80%;
}

.eje {
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #454242;
}

.meter-dimensions {
  width: 100%;
  font-size: small;
  display: flex;
  justify-content: space-evenly;
  margin: 1em 15vw;
}

@media screen and (min-aspect-ratio: 317/565) {
  .meter-dimensions {
    display: none;
  }
}

@media screen and (min-aspect-ratio: 315/517) {
  .digitalMeter {
    display: none;
  }
}