<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">
      EMF meter
    </ion-title>

    <ion-buttons style="position: absolute; left: 0px; top: 0px; ">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment #segment (ionChange)="onChangeScale($event)">
      <ion-segment-button value="100">
        <ion-label style="text-transform:none;">100µT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="400">
        <ion-label style="text-transform:none;">400µT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1000">
        <ion-label style="text-transform:none;">1000µT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4000">
        <ion-label style="text-transform:none;">4000µT</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<div>
  <img style="z-index: 10000; position: absolute; top: 112px; left: 0px; " src="assets/img/agujaGris.png" [ngStyle]="{
      'transform':'rotate(' + this.deg + 'deg)',
      'width.px': this.WIDTH * this.factor,
      'height.px': this.HEIGHT * this.factor}">
  <img style="z-index: 1000;position: absolute; top: 112px; left: 0px" [src]="this.scaleMeter" [ngStyle]="{
  'width.px': this.WIDTH * this.factor,
  'height.px': this.HEIGHT * this.factor}">
</div>


<div class="digitalMeter">
  <div class="eje">
    <span>µT:</span>
    <span>{{this.magnitude}}</span>
  </div>
  <div class="eje">
    <span>x:</span>
    <span>{{this.x}}</span>
  </div>
  <div class="eje">
    <span>y:</span>
    <span> {{this.y}}</span>
  </div>
  <div class="eje">
    <span>z:</span>
    <span>{{this.z}}</span>
  </div>
</div>

<!-- <app-analog-meter [WIDTH]="100" [maxValue]="100" [dataIn]="z" [bottom]="10" [right]="210">
</app-analog-meter>
<app-analog-meter [WIDTH]="100" [maxValue]="100" [dataIn]="y" [bottom]="10" [right]="105">
</app-analog-meter>
<app-analog-meter [WIDTH]="100" [maxValue]="100" [dataIn]="x" [bottom]="10" [right]="5">
</app-analog-meter> -->