
  <img style="z-index: 10000; position: absolute;" src="assets/img/agujaGris.png" [ngStyle]="{
      'transform':'rotate(' + deg + 'deg)',
      'width.px': WIDTH ,
      'height.px': HEIGHT,
  'top.px': top,
  'left.px': left,
  'right.px': right,
  'bottom.px': bottom - HEIGHT/2.8}">
  <img style="z-index: 1000;position: absolute;"  src="assets/img/escala.png" [ngStyle]="{
  'width.px': WIDTH,
  'height.px': HEIGHT,
  'top.px': top,
  'left.px': left,
  'right.px': right,
  'bottom.px': bottom - HEIGHT/2.8}">
