
  <img style="z-index: 10000; position: absolute;" src="assets/img/agujaGris.png" [ngStyle]="{
      'transform':'rotate(' + this.deg + 'deg)',
      'width.px': this.WIDTH ,
      'height.px': this.HEIGHT,
  'top.px': this.top,
  'left.px': this.left,
  'right.px': this.right,
  'bottom.px': this.bottom - this.HEIGHT/2.8}">
  <img style="z-index: 1000;position: absolute;"  src="assets/img/escala.png" [ngStyle]="{
  'width.px': this.WIDTH,
  'height.px': this.HEIGHT,
  'top.px': this.top,
  'left.px': this.left,
  'right.px': this.right,
  'bottom.px': this.bottom - this.HEIGHT/2.8}">
